.root {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.title {
  padding: 0.1rem;
}

.title a {
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
