@import url(./reset.css);
@import url(@picocss/pico);

g-emoji {
  vertical-align: middle;
  & img {
    display: initial;
  }
}

a {
  outline-color: currentColor;
}

/* Header links */
:where(h1, h2, h3, h4, h5, h6) > a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
